#ifndef SECRETS_H
#define SECRETS_H

static const char* WIFI_SSID     = "your_wifi_ssid";
static const char* WIFI_PASSWORD = "your_wifi_password";

static const char* MQTT_SERVER   = "192.168.1.100";
const int         MQTT_PORT     = 1883;

#endif
